[submodule "content/zh/doc/lambda"]
	path = content/zh/doc/lambda
	url = https://e.coding.net/nierheim/dms/lambda.git
[submodule "content/zh/doc/archive"]
	path = content/zh/doc/archive
	url = https://e.coding.net/nierheim/dms/archive.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://e.coding.net/denalon/asset/docsy.git
[submodule "content/zh/story/korlys"]
	path = content/zh/story/korlys
	url = https://e.coding.net/denalon/story/korlys.git
[submodule "content/zh/note/kappa"]
	path = content/zh/note/kappa
	url = https://denalon@dev.azure.com/denalon/kappa/_git/kappa
[submodule "content/zh/doc/fun"]
	path = content/zh/doc/fun
	url = https://gitee.com/denalon/fun.git
[submodule "content/zh/pages/pages"]
	path = content/zh/pages/pages
	url = https://denalon@dev.azure.com/denalon/pages/_git/pages
