[submodule "content/unit/lambda"]
	path = content/unit/lambda
	url = https://e.coding.net/nierheim/dms/lambda.git
[submodule "content/unit/fun"]
	path = content/unit/fun
	url = https://gitee.com/denalon/fun.git
[submodule "content/unit/archive"]
	path = content/unit/archive
	url = https://e.coding.net/nierheim/dms/archive.git
[submodule "content/story/korlys"]
	path = content/story/korlys
	url = https://e.coding.net/denalon/story/korlys.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://e.coding.net/denalon/asset/docsy.git
